body {
    font-family: Tahoma;
    padding: 20px;
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #183921;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #425640;
    color: white;
}

button {
    cursor: pointer;
    border-radius: 10px;
    background-color: #7fa38e;
    padding: 5px 10px;
}

#addButtonContainer {
    margin-top: 20px;
}

#users-list {
    color: gray; 
    margin-bottom: 10px;
    font-size: 0.9em;
}

#chat-window {
    height: 300px; 
    border: 1px solid #000; 
    overflow-y: auto; 
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 2px;
}

.msg-item {
    margin-bottom: 5px;
}

#msgInput {
    width: 70%;
    padding: 5px;
}